<h1>Hello logged in user</h1>
<p>you belong to the following organisations</p>


<% if current_user.organisations.length > 0 %>
	<% current_user.organisations.each do |user_organisation| %>
		<%= user_organisation.name %>

	<% end %>
<% else %>
	<p>one org</p>
<% end %>