
<%= form_for(@provider_category, :url => [@provider_category.provider, @provider_category]) do |f| %>

  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
      <% category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :provider_id %>
    <%= f.text_field :provider_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
