<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<table>
  <thead> 
    <tr>
      <th>Name</th>
      <th>Provider</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.provider %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_provider_category_path %>
